/* font-family: 'Alex Brush', cursive;
font-family: 'Roboto', sans-serif; */

.copydate {
  color: #999 !important;
}

.mainJumbo {
  background-image: url('../src/images/curls.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;
}

.logo-badge-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: -15em;
}
#homeBtn {
  font-family: 'Alex Brush', cursive !important;
  font-size: 2em;
}

.title {
  font-family: 'Alex Brush', cursive;
  font-size: 4em;
  font-weight: 500;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.title-name {
  font-size: 2em;
  margin: 0;
}

.subtitle {
  margin-top: -1em !important;
  font-weight: 500;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.main-container {
  margin-bottom: 10em;
}

.screen {
  width: 100px;
  height: 100px;
  background: black;
  position: relative;
}

.animated1 {
  -webkit-animation: Axis1 2.5s infinite;
  animation: Axis1 2.5s infinite;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #a0f;
  position: absolute;
  top: -5px;
  left: 45px;
}

.animated2 {
  -webkit-animation: Axis2 2.5s infinite;
  animation: Axis2 2.5s infinite;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #0ff;
  position: absolute;
}
.animated3 {
  -webkit-animation: Axis3 2.5s infinite;
  animation: Axis3 2.5s infinite;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #f0f;
  position: absolute;
  top: -5px;
  left: -5px;
}

@keyframes Axis1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes Axis2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(100px, 100px, 100px);
    transform: translate3d(100px, 100px, 100px);
    width: 40px;
    height: 40px;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Axis3 {
  0% {
    -webkit-transform: translateX(0px) translateY(100px);
    transform: translateX(0px) translateY(100px);
  }
  50% {
    -webkit-transform: translateX(100px) translateY(0px);
    transform: translateX(100px) translateY(0px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(100px);
    transform: translateX(0px) translateY(100px);
  }
}
